body{
    background-color:rgba(230,230,250,0.5);
}
.padding {
    margin-top: 14.5%;
    padding: 0 10%;
}
.padding form{
    padding:5% 8%;
    background-color:lightsalmon;
    border-radius:22px;
    border:2px solid black;
}
.margin-head{
    margin-bottom:20px;
}
.btn{
    width:48%;
    border-radius:22px;
}
.form-control{
    margin-bottom:15px;
    border-radius:22px;
}
